/* css/components/_forms.css */

form {
    background: var(--cor-neutra-white);
    padding: var(--espaco-lg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

fieldset {
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: var(--espaco-lg);
    margin-bottom: var(--espaco-lg);
}

legend {
    font-size: var(--fonte-lg);
    font-weight: 600;
    padding: 0 var(--espaco-xs);
    margin-left: var(--espaco-sm);
    color: var(--cor-primaria);
}

.form-group {
    display: grid;
    grid-template-columns: 1fr; /* 1 coluna (mobile) */
    gap: var(--espaco-md);
    margin-bottom: var(--espaco-md);
}

/* Ativa 2 colunas em telas maiores */
@media (min-width: 768px) {
    .form-group.grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}

.form-group div {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: var(--espaco-xs);
    font-weight: 500;
    color: var(--cor-neutra-dark);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: var(--espaco-sm);
    font-size: var(--fonte-md);
    color: var(--cor-neutra-dark);
    background-color: var(--cor-neutra-white);
    border: 1px solid #ced4da; /* Cinza Padrão */
    border-radius: var(--border-radius);
    transition: var(--transition-base);
}

/* Estado de Foco */
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25); /* "Brilho" azul */
}

/*
 * REQUISITO: VALIDAÇÃO VISUAL (CSS NATIVO - ENTREGA II)
 */

/* Inválido (Vermelho) */
input:not(:placeholder-shown):invalid,
select:invalid {
    border-color: var(--cor-alerta);
}

input:not(:placeholder-shown):invalid:focus {
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.25);
}

/* Válido (Verde) - Apenas se o usuário já preencheu */
input:not(:placeholder-shown):valid,
select:valid {
    border-color: var(--cor-secundaria);
}
input:not(:placeholder-shown):valid:focus {
    box-shadow: 0 0 0 3px rgba(25, 135, 84, 0.25);
}


.form-actions {
    margin-top: var(--espaco-lg);
    text-align: right; /* Alinha o botão de submit à direita */
}

/*
 * ===================================================
 * ESTILOS PARA A VALIDAÇÃO JS (ENTREGA III)
 * ===================================================
 */

/* A div de mensagem de erro que o 'validation.js' cria */
.form-error-message {
    color: var(--cor-alerta);
    font-size: var(--fonte-sm);
    font-weight: 500;
    margin-top: var(--espaco-xs);
}

/* Classe que o 'validation.js' adiciona ao input */
input.is-invalid {
    border-color: var(--cor-alerta) !important; /* !important para sobrescrever o CSS nativo :valid */
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.25) !important;
}